<div class="page-header">
    <div class="icon">
        <span class="ico-arrow-right"></span>
    </div>
    <h1>Editer le type de document: <%= @category.name %> <small>Modifier les informations relatives au type de document suivant</small></h1>
</div>

<div class = "row-fluid">
  <div class = "span6">
    <%= render 'layouts/flash_messages' %>
    <% if !@error_messages.blank? %>  
      <div class = "alert alert-error">         
        <ul>
        <% @error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if !@alert_messages.blank? %>  
      <div class = "alert alert-info">         
        <% @alert_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    <% if !@success_messages.blank? %> 
      <div class = "alert alert-success">         
        <% @success_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
     
    <div class = "block">
      <div class = "head">
        <div class = "icon">
          <span class = "ico-pen-2"></span>
        </div>
        <h2>Modifier un type de document</h2>
      </div>
      <div class = "data-fluid">
        <%= form_tag("/category/update") do %>
          <%#= devise_error_messages! %>
          <%= hidden_field_tag "id", @category.id %>
          <div class = "<%= @namecss %>">
            <div class = "span3">Nom</div>
            <div class = "span9">	                      
              <%= text_field_tag "name", @category.name, :placeholder => "Nom du type de document" %>    
            </div>
          </div>
          <div class = "<%= @short_namecss %>">
            <div class = "span3">Abbréviation</div>
            <div class = "span9">	                      
              <%= text_field_tag "short_code", @category.short_code, :placeholder => "Abbréviation de la catégorie" %>  
            </div>
          </div>
          <br />
          <div class = "row-form">
            <div class="span9">
              <%= button_tag(:name => "Modifier un type de document", :data => {:disable_with => "Veuillez patienter"}, :class => "btn") do %>
                Modifier un type de document <div class="icon-arrow-next icon-white"></div> 
              <% end %>
            </div>
          </div>
        <% end %>
        <hr />
      </div>
    </div>
    
        
  </div>
  
  <div class = "span6">
    <div class = "block">
      <div class = "head">
        <div class = "icon">
          <span class = "ico-list-3"></span>
        </div>
        <h2>Liste des types de documents</h2>
      </div>
      <!--<div class = "head blue" >
		    <div class = "icon" >
		      <span class = "ico-pen-2"></span>		      
		    </div>  
		    <h2>Visualisation des qualifications par département</h2>
		  </div>-->
		  <% unless @categories.blank? %>	
		    <table class = "table" cellpading = "0" cellspacing = "0" width = "100%">
          <thead>
            <tr>
              <th width = "100%">
                Nom du type de document
              </th>
            </tr>
          </thead>
          <tbody>            
	          <% @categories.each do |category| %>	
	            <tr>
	              <td>	              		      		    
                  <%= category.name %> <b>[<%= category.short_code %>]</b> 
                  &nbsp;&nbsp;<%= link_to "<i class = 'icon-pencil'></i>".html_safe, "/editer-un-type-de-document/#{category.id}" %>	         	     
                  
					        <% if category.published == false %>				            				
				            <%= link_to "<i class = 'icon-ok'></i>".html_safe, enable_category_path(category.id), :confirm => "Êtes vous sûr de vouloir activer cette catégorie?" %>        
				          <% else %>
				            <%= link_to "<i class = 'icon-remove'></i>".html_safe, disable_category_path(category.id), :confirm => "Êtes vous sûr de vouloir désactiver cette catégorie?" %>				            
				          <% end %>	                               
                </td>         
              </tr>
	          <% end %>
		      </tbody>
		    </table>		  		  		  		  		  		    
	    <% end %>	
	    <% unless @categories.blank? %>
	      <div id = "pagination">
          <%= paginate @categories %>
        </div>
      <% end %>    	  
    </div>
  </div>
</div>

