<div class="page-header">
    <div class="icon">
        <span class="ico-arrow-right"></span>
    </div>
    <h1>Historique <small>Historique des demandes de documents faites au département banque de données</small></h1>
</div>

<div class = "row-fluid">
  <div class = "span12">
    <%= render 'layouts/flash_messages' %>
    <% if !@error_messages.blank? %>  
      <div class = "alert alert-error">         
        <ul>
        <% @error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if !@alert_messages.blank? %>  
      <div class = "alert alert-info">         
        <% @alert_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    <% if @success %> 
      <div class = "alert alert-success">         
        <% @success_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
     
    <div class = "block title">
      <div class = "head">
        <h2>Liste des demandes</h2>
      </div>
      <div class = "widgets">
        <div class = "widget blue value">
          <div class = "left">
            <% (@on_hold_demands.count > 1) ? @s1 = "s" : @s1 = "" %>
            <%= @on_hold_demands.count %>
          </div>
          <div class = "right">
            <% (@on_hold_demands_users.count > 1) ? @s2 = "s" : @s2 = "" %>
            <%= "#{@on_hold_demands_users.count} utilisateur#{@s2} concerné#{@s2}" %>
            <br /><br />
            <% (@on_hold_books.count > 1) ? @s3 = "s" : @s3 = "" %>
            <%= "#{@on_hold_books.count} document#{@s3} concerné#{@s3}" %> 
          </div>
          <div class = "bottom">
            <%= link_to "Demande#{@s1} en attente", demands_on_hold_per_qualification_path %>
          </div>
        </div>
        <div class = "widget red value">
          <div class = "left">
            <% (@rejected_demands.count > 1) ? @s1 = "es" : @s1 = "" %>
            <%= @rejected_demands.count %>
          </div>
          <div class = "right">
            <% (@rejected_demands_users.count > 1) ? @s2 = "s" : @s2 = "" %>
            <%= "#{@rejected_demands_users.count} utilisateur#{@s2} concerné#{@s2}" %>
            <br /><br />
            <% (@rejected_books.count > 1) ? @s3 = "s" : @s3 = "" %>
            <%= "#{@rejected_books.count} document#{@s3} concerné#{@s3}" %> 
          </div>
          <div class = "bottom">
            <%= link_to "Demande#{@s1} rejetée", demands_rejected_per_qualification_path %>
          </div>
        </div>
        <div class = "widget green value">
          <div class = "left">
            <% (@validated_demands.count > 1) ? @s1 = "s" : @s1 = "" %>
            <%= @validated_demands.count %>
          </div>
          <div class = "right">
            <% (@validated_demands_users.count > 1) ? @s2 = "s" : @s2 = "" %>
            <%= "#{@validated_demands_users.count} utilisateur#{@s2} concerné#{@s2}" %>
            <br /><br />
            <% (@validated_books.count > 1) ? @s3 = "s" : @s3 = "" %>
            <%= "#{@validated_books.count} document#{@s3} concerné#{@s3}" %> 
          </div>
          <div class = "bottom">
            <%= link_to "Demande#{@s2} validée#{@s2}", demands_validated_per_qualification_path %>
          </div>
        </div>
        <div class = "widget purple value">
          <div class = "left">
            <% (@documents_to_get_back.count > 1) ? @s1 = "s" : @s1 = "" %>
            <%= @documents_to_get_back.count %>
          </div>
          <div class = "right">
            <% (@documents_to_get_back_users.count > 1) ? @s2 = "s" : @s2 = "" %>
            <%= "#{@documents_to_get_back_users.count} utilisateur#{@s2} concerné#{@s2}" %>
            <br /><br />
            <% (@books_to_get_back.count > 1) ? @s3 = "s" : @s3 = "" %>
            <%= "#{@books_to_get_back.count} document#{@s3} concerné#{@s3}" %> 
          </div>
          <div class = "bottom">
            <%= link_to "A retirer", demands_to_get_back_per_qualification_path %>
          </div>
        </div>
        <div class = "widget orange value">
          <div class = "left">
            <% (@document_to_bring_back.count > 1) ? @s1 = "s" : @s1 = "" %>
            <%= @document_to_bring_back.count %>
          </div>
          <div class = "right">
            <% (@document_to_bring_back_users.count > 1) ? @s2 = "s" : @s2 = "" %>
            <%= "#{@document_to_bring_back_users.count} utilisateur#{@s2} concerné#{@s2}" %>
            <br /><br />
            <% (@books_to_bring_back.count > 1) ? @s3 = "s" : @s3 = "" %>
            <%= "#{@books_to_bring_back.count} document#{@s3} concerné#{@s3}" %> 
          </div>
          <div class = "bottom">
            <%= link_to "A rendre", demands_to_bring_back_per_qualification_path %>
          </div>
        </div>
        <div class = "widget yellow value">
          <div class = "left">
            <% (@document_brought_back.count > 1) ? @s1 = "s" : @s1 = "" %>
            <%= @document_brought_back.count %>
          </div>
          <div class = "right">
            <% (@document_brought_back_users.count > 1) ? @s2 = "s" : @s2 = "" %>
            <%= "#{@document_brought_back_users.count} utilisateur#{@s2} concerné#{@s2}" %>
            <br /><br />
            <% (@books_brought_back.count > 1) ? @s3 = "s" : @s3 = "" %>
            <%= "#{@books_brought_back.count} document#{@s3} concerné#{@s3}" %> 
          </div>
          <div class = "bottom">
            <%= link_to "Rendus", demands_returned_per_qualification_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
